version: 2.1

jobs:
  sanity:
    docker:
      - image: cimg/node:20.11-browsers
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Run sanity suite
          command: npm run test:sanity
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

workflows:
  version: 2
  sanity_pipeline:
    jobs:
      - sanity
